<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="291"
    android:versionName="5.23.0-gp"
    android:compileSdkVersion="37"
    android:compileSdkVersionCodename="17"
    android:requiredSplitTypes="base__abi,base__density"
    android:splitTypes=""
    package="ai.askquin"
    platformBuildVersionCode="37"
    platformBuildVersionName="17">
    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="36"/>
    <uses-permission android:name="android.permission.DETECT_SCREEN_CAPTURE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"/>
    <permission
        android:name="ai.askquin.permission.QA_BRIDGE"
        android:protectionLevel="signature"/>
    <queries>
        <package android:name="com.tencent.mobileqq"/>
        <package android:name="com.tencent.tim"/>
        <intent>
            <action android:name="android.intent.action.SEND"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
            <category android:name="android.intent.category.OPENABLE"/>
            <data android:mimeType="*/*"/>
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="com.android.vending.billing.InAppBillingService.BIND"/>
        </intent>
        <intent>
            <action android:name="com.google.android.apps.play.billingtestcompanion.BillingOverrideService.BIND"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <permission
        android:name="ai.askquin.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="ai.askquin.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application
        android:theme="@style/Theme.Donut"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher_generated"
        android:name="com.pairip.application.Application"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:extractNativeLibs="false"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="false"
        android:roundIcon="@mipmap/ic_launcher_generated_round"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="@bool/enable_predictive_back">
        <activity
            android:theme="@style/Theme.Donut.ShareOverlay"
            android:name="ai.askquin.ui.share.ShareActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/Theme.Donut.Starting"
            android:name="ai.askquin.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="ai.askquin.douyinapi.DouYinEntryActivity"
            android:exported="true"
            android:taskAffinity="ai.askquin"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="ai.askquin.contentprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://adce4a495887fdd0df428d99134222c9@o4511857247911936.ingest.us.sentry.io/4509671163494400"/>
        <meta-data
            android:name="io.sentry.traces.user-interaction.enable"
            android:value="true"/>
        <meta-data
            android:name="io.sentry.attach-screenshot"
            android:value="false"/>
        <meta-data
            android:name="io.sentry.attach-view-hierarchy"
            android:value="true"/>
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="0.01"/>
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false"/>
        <meta-data
            android:name="io.sentry.tombstone.enable"
            android:value="true"/>
        <receiver
            android:label="@string/widget_daily_fortune_title"
            android:name="ai.askquin.widget.DailyFortuneWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/daily_fortune_widget_info"/>
        </receiver>
        <receiver
            android:label="@string/widget_daily_fortune_title"
            android:name="ai.askquin.widget.DailyFortuneWidgetWideReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/daily_fortune_widget_wide_info"/>
        </receiver>
        <receiver
            android:label="@string/widget_quick_decision_title"
            android:name="ai.askquin.widget.QuickDecisionWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="ai.askquin.widget.QD_DRAW"/>
                <action android:name="ai.askquin.widget.QD_CARD_SELECTED"/>
                <action android:name="ai.askquin.widget.QD_RESET"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/quick_decision_widget_info"/>
        </receiver>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="ai.askquin.androidx-startup">
            <meta-data
                android:name="net.xmind.donut.gp.push.PushServiceEntriesInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="net.xmind.donut.common.Initializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="ai.askquin.login.ThirdPartyLoginEntriesInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="okhttp3.internal.platform.PlatformInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <activity
            android:name="ai.askquin.ui.AppLinkActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="quin.love"/>
                <data android:host="quinlove.cn"/>
                <data android:pathPrefix="/app"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="quinlove"/>
            </intent-filter>
        </activity>
        <service
            android:name="ai.askquin.qa.transport.QaBridgeService"
            android:permission="ai.askquin.permission.QA_BRIDGE"
            android:exported="true"/>
        <activity
            android:name="ai.askquin.ui.conversation.ConversationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name="ai.askquin.ui.onboard.OnboardingActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:name="ai.askquin.ui.settings.language.LanguagesActivity"
            android:screenOrientation="portrait"
            android:configChanges="screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight"
            android:name="com.canhub.cropper.CropImageActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="102479632"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="behind"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <service android:name="ai.askquin.services.InAppMessagePollingService"/>
        <receiver android:name="ai.askquin.notification.DailyNotificationSchedulerReceiver"/>
        <receiver
            android:name="ai.askquin.ui.fourseasons.notification.FourSeasonsNotificationReceiver"
            android:enabled="true"
            android:exported="false"/>
        <receiver
            android:name="ai.askquin.ui.fourseasons.notification.FourSeasonsScheduleReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity
            android:name="ai.askquin.ui.web.WebViewActivity"
            android:screenOrientation="portrait"/>
        <receiver
            android:name="net.xmind.donut.common.utils.ShareTargetChosenReceiver"
            android:exported="false"/>
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false"/>
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true"/>
        </service>
        <provider
            android:name="com.canhub.cropper.CropFileProvider"
            android:exported="false"
            android:authorities="ai.askquin.cropper.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/cropper_library_file_paths"/>
        </provider>
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            android:value="9.1.0"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.android.billingclient.api.ProxyBillingActivityV2"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.FirebaseRemoteConfigKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service
            android:name="androidx.credentials.playservices.CredentialProviderMetadataHolder"
            android:enabled="true"
            android:exported="false">
            <meta-data
                android:name="androidx.credentials.CREDENTIAL_PROVIDER_KEY"
                android:value="androidx.credentials.playservices.CredentialProviderPlayServicesImpl"/>
        </service>
        <activity
            android:theme="@style/Theme.Hidden"
            android:name="androidx.credentials.playservices.controllers.identityauth.HiddenActivity"
            android:enabled="true"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"
            android:fitsSystemWindows="true"/>
        <activity
            android:theme="@style/Theme.Hidden"
            android:name="androidx.credentials.playservices.controllers.identitycredentials.IdentityCredentialApiHiddenActivity"
            android:enabled="true"
            android:exported="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"
            android:fitsSystemWindows="true"/>
        <service
            android:name="com.google.android.play.core.assetpacks.AssetPackExtractionService"
            android:enabled="false"
            android:exported="true">
            <meta-data
                android:name="com.google.android.play.core.assetpacks.versionCode"
                android:value="20300"/>
        </service>
        <service
            android:name="com.google.android.play.core.assetpacks.ExtractionForegroundService"
            android:enabled="false"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>
        <receiver
            android:name="com.google.android.play.core.assetpacks.SessionStateBroadcastReceiver"
            android:permission="android.permission.INSTALL_PACKAGES"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.play.core.assetpacks.receiver.ACTION_SESSION_UPDATE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true"/>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true"/>
        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true"
            android:visibleToInstantApps="true"/>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.firebase.sessions.SessionLifecycleService"
            android:enabled="false"
            android:exported="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <service
            android:name="androidx.camera.core.impl.MetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER"
                android:value="androidx.camera.camera2.Camera2Config$DefaultProvider"/>
        </service>
        <provider
            android:name="io.sentry.android.core.SentryInitProvider"
            android:exported="false"
            android:authorities="ai.askquin.SentryInitProvider"/>
        <provider
            android:name="io.sentry.android.core.SentryPerformanceProvider"
            android:exported="false"
            android:authorities="ai.askquin.SentryPerformanceProvider"
            android:initOrder="200"/>
        <uses-library
            android:name="android.ext.adservices"
            android:required="false"/>
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            android:exported="true"/>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
        <provider
            android:name="com.adjust.sdk.SystemLifecycleContentProvider"
            android:exported="false"
            android:authorities="ai.askquin.adjust-lifecycle-provider"/>
        <activity
            android:theme="@style/Theme.PlayCore.Transparent"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true"/>
        <provider
            android:name="io.sentry.ndk.SentryNdkPreloadProvider"
            android:exported="false"
            android:authorities="ai.askquin.SentryNdkPreloadProvider"
            android:initOrder="2000000000"/>
        <meta-data
            android:name="io.sentry.gradle-plugin-integrations"
            android:value="AppStartInstrumentation,ComposeInstrumentation,DatabaseInstrumentation,FileIOInstrumentation,LogcatInstrumentation,SourceContext"/>
        <activity
            android:name="com.pairip.licensecheck.LicenseActivity"
            android:exported="false"/>
        <meta-data
            android:name="com.android.vending.splits.required"
            android:value="true"/>
        <meta-data
            android:name="com.android.stamp.source"
            android:value="https://play.google.com/store"/>
        <meta-data
            android:name="com.android.stamp.type"
            android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data
            android:name="com.android.vending.splits"
            android:resource="@xml/splits0"/>
        <meta-data
            android:name="com.android.vending.derived.apk.id"
            android:value="3"/>
    </application>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
</manifest>
